https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_scatter-2.0.7-cp38-cp38-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_sparse-0.6.10-cp38-cp38-linux_x86_64.whl
mne
Sphinx >= 3.0.0
docutils
pylons-sphinx-themes >= 1.0.8
pylons_sphinx_latesturl
repoze.sphinx.autointerface
sphinxcontrib-autoprogram
tqdm
numpy
pandas
scipy
scikit-learn
lmdb
einops
torch_geometric
xmltodict
networkx
PyWavelets